body{
    margin-top: 10px;
    padding: 0;
    background-image: url("vit.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
.loginbox{
    width: 320px;
    height: 520px;
    background: #fff ; 
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;

}
h3{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font: 20PX;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
    color: #47B5FF;
}
.loginbox input[type="text"], input[type="email"], input[type="number"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 20px;
    color:black;
    font-size: 14px;

}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 20px;
    background: #1363DF;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;


}
.loginbox a{
    text-decoration: none;
    font-size: 10px;
    line-height: 15px;
    color: darkgrey;
}
.loginbox a :hover
{
    color: #ffc107;

}

